<html>
<head>
    <title>login</title>
</head>
<body>
    <h1>login</h1>
    <form method="post">
        <h2>ID</h2>
        <input type="text" name="ID"><br>
        
        <h2>PW</h2>
        <input type="text" name="PW">

        <button type="submit">submit</button>
    </form>
    <a href="/signup">Singup</a>

</body>
</html>